module.exports = {
	"center" : [-4.46, 19.54],
	"zoom" : 4,
	// phenomenon shown at start, possible values: PM10, PM25 
	"selection": "PM10",
	"attribution": "Map data © <a href='https://openstreetmap.org'>OpenStreetMap</a> contributors"
}
